h1{
    text-align: center;
}

body{
}

.principal {
    background: silver;
}

.beneficios {
    background: #FFFFFF;
}

p {
    text-align: center;
}

strong em{
    color: red;
}

#missao {
    font-size: 20px;
}

#banner {
    width: 100%;
}

#imagembeneficio {
    width: 50%;
}

.itens {
    font-style: italic;
}

ul {
    display: inline-block;
    vertical-align: top;
}